@using SP1.Chalao.Web.Framework.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title CHALAO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CHALAO", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li id="homeMenu">@Html.ActionLink("Home", "Index", "Employee")</li>
                <li id="profileMenu"><a href="@Url.Action("Profile","Employee", new {id =HttpUtil.Current.ID })">Profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="profileMenu"><a href="@Url.Action("Profile","Employee", new {id =HttpUtil.Current.ID })">Welcome, @HttpUtil.Current.Name</a></li>
                <li id="signOutMenu">@Html.ActionLink("Sign Out", "Logout", "Account")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year Chalao cycle ride sharing system</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
