@using System.Web.UI.WebControls
@model SP1.Chalao.Entities.Book_Info
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<h2>Book Info</h2>
@using (Html.BeginForm("Edit"))
{
    if (SP1.Chalao.Framework.Helper.ValidationHelper.IsValidString(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.ID)
                @Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.ID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Bike_ID)
                @Html.DropDownListFor(m => m.Bike_ID,new SelectList(Model.Bike_ID,"ID","Desc"),"Select Bike", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Bike_ID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Rider_Name)
                @Html.TextBoxFor(m => m.Rider_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Rider_Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Rider_Email)
                @Html.TextBoxFor(m => m.Rider_Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Rider_Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book_Schedule)
                @Html.TextBoxFor(m => m.Book_Schedule, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book_Schedule)
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Book" />
            </div>

        </div>
}