@using SP1.Chalao.Framework.Helper
@model SP1.Chalao.Entities.Riders
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Riders</h2>

@using (Html.BeginForm("Edit"))
{
<div class="row">
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.ID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Users.Name)
        @Html.TextBoxFor(m => m.Users.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Users.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Users.Email)
        @Html.TextBoxFor(m => m.Users.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Users.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Users.Password)
        @Html.TextBoxFor(m => m.Users.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Users.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Users.Mobile)
        @Html.TextBoxFor(m => m.Users.Mobile, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Users.Mobile)
    </div>
    <div class="form-group">
        @Html.Label("Date of Birth")
        @Html.EditorFor(m => m.DOB, new {htmlAttributes = new {@class = "form-control", placeholder = "Date Of Birth", @readonly = "true"}})
        @Html.ValidationMessageFor(m => m.DOB)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>

</div>
}


@section Scripts {  
  
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")  
  
    <script type="text/javascript">  
        $(document).ready(function () { 

            $('.menu').removeClass('active');
            $('#signUpMenu').addClass('active');

            $('input[type=datetime]').datepicker({  
                dateFormat: "dd/M/yy",  
                changeMonth: true,  
                changeYear: true,  
                yearRange: "-60:+0"  
            });  
  
        });  
    </script>  
  
}  